* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
}

button,
input {
  outline: none;
}

button:active {
  transform: scale(0.95);
}

header {
  background: url("https://images.unsplash.com/photo-1510915361894-db8b60106cb1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 100px;
  /* height: 300px; */
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

header * {
  z-index: 1;
}

h1 {
  margin-bottom: 30px;
}

form {
  position: relative;
}

form input {
  font-size: 16px;
  width: 500px;
  border: 0;
  max-width: 100%;
  border-radius: 50px;
  padding: 16px;
}

form button {
  position: absolute;
  background-color: rgb(180, 52, 231);
  border-radius: 50px;
  font-size: 16px;
  color: white;
  padding: 14px 30px;
  border: none;
  top: 2px;
  right: 4px;
}

.container{
    margin: 30px auto;
}
.container p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.songs {
  list-style-type: none;
  margin: 16px auto;
  width: 50%;
  }

.songs li {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.btn {
  background-color: rgb(180, 52, 231);
  border-radius: 50px;
  color: white;
  border: none;
  padding: 4px 12px;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

#more .btn{
    margin: 0 8px;
    padding: 8px 20px;
    font-size: 16px;
}