:root {
  --modal-duration: 1s;
  --primary-color: #30336b;
  --secondary-color: #be2edd;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

nav {
  background-color: var(--primary-color);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 200px;
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: white;
  z-index: 100;
  transform: translateX(-100%);
}

nav .logo {
  padding: 24px;
  text-align: center;
}

nav .logo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}
nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
  color: white;
}
nav ul li a:hover {
  text-decoration: underline;
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 120%;
}

.toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button,
input[type="submit"] {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 10px 20px;
  width: 800px;
  max-width: 100%;
}

.cta-btn {
  padding: 12px 24px;
  font-size: 18px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}
 
.modal-header {
  background-color: var(--primary-color);
  color: white;
  padding: 1px 16px;
}

/* .modal-header h3 {
}  */

.close-btn {
  position: fixed;
  top: 5px;
  right: 0;
  background-color: transparent;
  font-size: 30px;
} 

.modal-content {
    padding: 20px;
}

.modal-form div {
    margin: 20px 0px;
}

.modal-form label {
    display: block;
    margin-bottom: 10px;
}

.form-input{
    width: 100%;
    padding: 8px;
}